Repository shipwright-io/build, pull requests merged in 2022-09, with the labels that each got.

#1102 Bump github.com/emicklei/go-restful from v2.15.0+incompatible to v2.16.0+incompatible
  go.mod
  go.sum
  vendor/github.com/emicklei/go-restful/CHANGES.md
  vendor/github.com/emicklei/go-restful/cors_filter.go
  vendor/github.com/emicklei/go-restful/parameter.go
  vendor/github.com/emicklei/go-restful/request.go
  vendor/github.com/emicklei/go-restful/response.go
  vendor/github.com/emicklei/go-restful/route.go
  vendor/github.com/emicklei/go-restful/route_reader.go
  vendor/github.com/emicklei/go-restful/web_service.go
  vendor/modules.txt
Labels: lgtm, approved, kind/dependency-change, release-note-none

#1109 Update OWNERS
  OWNERS
Labels: lgtm, approved, kind/cleanup, release-note-none

#1108 Update BuildAh, Kaniko, Trivy, Crane, UBI in sample build strategies
  README.md
  docs/buildstrategies.md
  samples/buildstrategy/buildah/buildstrategy_buildah_cr.yaml
  samples/buildstrategy/kaniko/buildstrategy_kaniko-trivy_cr.yaml
  samples/buildstrategy/kaniko/buildstrategy_kaniko_cr.yaml
  samples/buildstrategy/source-to-image/buildstrategy_source-to-image-redhat_cr.yaml
  samples/buildstrategy/source-to-image/buildstrategy_source-to-image_cr.yaml
  test/clusterbuildstrategy_samples.go
  test/e2e/e2e_params_test.go
Labels: lgtm, approved, kind/dependency-change, release-note

#1112 Move ko-related artifacts to ko-build
  .github/workflows/ci.yml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  DEVELOPMENT.md
  docs/buildstrategies.md
  samples/buildstrategy/ko/buildstrategy_ko_cr.yaml
Labels: kind/bug, lgtm, approved, release-note

#1111 Deprecate alpha features
  deploy/crds/shipwright.io_buildruns.yaml
  deploy/crds/shipwright.io_builds.yaml
  docs/build.md
  docs/buildrun.md
  pkg/apis/build/v1alpha1/build_source.go
  pkg/apis/build/v1alpha1/build_types.go
  pkg/apis/build/v1alpha1/buildrun_types.go
Labels: lgtm, approved, kind/cleanup, kind/api-change, release-note
