Repository shipwright-io/build, pull requests merged in 2023-03, with the labels that each got.

#1228 Remove incorrect curly brackets
  .github/workflows/nightly.yaml
Labels: lgtm, approved, kind/cleanup, release-note-none

#1239 fix: buildkit insecure registry image caching
  samples/buildstrategy/buildkit/buildstrategy_buildkit_cr.yaml
Labels: kind/bug, lgtm, approved, release-note

#1245 Update ko to v0.13
  .github/workflows/ci.yml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
Labels: kind/bug, lgtm, approved, release-note-none

#1246 Fix new golangci-lint findings
  cmd/git/main.go
  cmd/waiter/main.go
  pkg/reconciler/buildlimitcleanup/controller.go
  pkg/reconciler/buildrun/controller.go
  pkg/reconciler/buildrunttlcleanup/controller.go
  pkg/reconciler/buildstrategy/controller.go
  pkg/reconciler/clusterbuildstrategy/controller.go
Labels: lgtm, approved, kind/failing-test, release-note-none

#1249 Update cosign action
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
Labels: lgtm, approved, kind/cleanup, release-note-none

#1250 Ensure transparency logs confirmation is not interactive
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
Labels: kind/bug, lgtm, approved, kind/dependency-change, release-note-none
